*{
   
    margin:0;
    padding: 0;
    
   
    background-color: black;
}

#nav{
    display:flex;
    
    

}
.v{
    color: #fff;
    width:150px;
  
}
.mob{
    
    display: flex;
}
#men{
   
   display:flex;
    margin-left: 500px;
    padding: 10px ;
    padding-left: 250px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#nav ul li{
    text-decoration: none;
    list-style: none;
}
#nav ul li a{
    font-size: 23px;;
    padding:12px;
    list-style: none;
    text-decoration: none;
}
#nav ul li a:hover{
    color:rgb(223, 214, 214)
    
}
#nav ul .co a{
    color:rgb(223, 214, 214);
}
#nav a{
   
    color:azure;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 29px;
    margin-top: 10px;
    margin-left: 18px;
    list-style: none;
    text-decoration: none;
}
h2{
    color:azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 1308px;
    list-style: none;
    text-decoration: none;

}

.info{
    height:300px;
    width:80vw;
    color:white;
    margin-left: 254px;
    margin-top: 105px;
}


.fd{
    font-size: 87px;
    padding-left: 34px;
    padding-top: 34px;;
    color:rgb(223, 214, 214);
}

.develop{
    text-transform: uppercase;
    font-size: 87px;
    padding-left: 64px;
    margin-top: 2px;
    color:rgb(223, 214, 214);
    animation-name: move;
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease-in;
 
    animation-delay: 2s;
    width:700px;
}
@keyframes move{
    from{
        left:0px;
    }
    to{
        left:200px;
    }
}





.head{
    color:white;   
   
    width:200px;
    margin-left: 1200px;
    margin-top: 50px;
    padding-top: 5px;;
}
h4{
    padding-top: 5px;
    width:300px;
    font-size: 18px;
    color:rgb(212, 189, 212);
}


#main2{
  text-transform: uppercase;
  height:90vh;
  padding-top:350px;
  color: #fff;
  padding-right: 10vw;
}
.elem{
    position: relative;
    display: flex; 
    padding:2vw 1vw;
    border-top:1px solid #888;
    align-items: center;
    justify-content: space-between;
    
}
.elem h1{
font-size: 4vw;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
opacity: .7;
padding-left: 78px;
}
.img1{
    display: none;
}
.elemla{
    
    display: flex;
    padding:2vw 7vw;
    font-size: 2vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .7;
    border-top:1px solid #888;
    border-bottom: 1px solid #888;
}
.elem img{
    position: absolute;
  display: none;
    height:100%;
    z-index: 999;
}
.elemla img{
    position: absolute;
   display: none;
    height:20%;
    z-index: 999;
}
#about{
    display: flex;
    margin-left: 156px;
    margin-right: 134px;
    margin-top:127px;
    height:80vh;
    padding: 45px 56px;
    
    margin-bottom: 145px;
}
.img{
   
    height:256px;
    width:467px;
    margin-top: 40px;
    margin-left: 70px;
    
   
}
.me{
    color: white;
    padding-top: 75px;
    /*padding: 45px 45px;*/
    font-family: cursive;
    padding-left: 20px;
    padding-right: 25px;
    margin-top: 30px;
    width:756px;
    height:356px;
    margin-left: 100px;
    
    

}
h5{
    color:pink;
    padding-top: 10px;
    font-size: 14px;;
}
.img img{
    height:456px;
    width:367px;
    border-radius: 256px;
}
.me a{
   
    color:#fff;
}
.me li{
    background-color: black ;
  
    margin-top: 15px;
    width:120px;
    height:32px;
    border-radius: 24px;
    border:2px solid white;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    
    padding-top: 5px;
}
.cv{
    display: flex;
    margin:13px 10px;
    
}
.dc{
    margin:23px;
    
}
.dc a{
    list-style: none;
    text-decoration: none;
}
.dc a:hover{
    color:pink;
}


#footer1{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    display:flex;
    gap:20px;
    color:white;
}
#footer1 a{
    text-transform: uppercase;
    font-weight: 500;
    color:white;
}
#footerright{
    justify-content: space-between;
    gap:50px;
   
}
#footerright a{
    list-style: none;
    text-decoration: n
    one;
    padding: 0px 20px;

    
}
#myskills{
   
    margin-top: 140px;
    width:90vw;
    height:40vw;
  
}
.ele{
    display: flex;
    padding: 0px 56px;
}



.h3{
    color: white;
    height:40px;
    width:150px;
    padding-top: 45px;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 650px;
}
#myskills h3:hover{
    color:rgb(58, 58, 58);
}
.ele1{
  height:390px;
  width:434px;
  margin-left: 60px;
  margin-top: 95px;
  border:3px solid white;
  border-radius:18px;
}
.ele1 img{
    width:134px;
    height:145px;
    padding:24px 84px;
    padding-bottom: 18px;
}
.ele1 .web{
    font-size: 23px;
    color:white;
    padding-left: 44px;
    text-transform: uppercase;
}
.nav ul{
    padding-top: 14px;
    color: rgb(81, 77, 77);
    list-style: none;
    text-decoration: none;
}
.nav ul li{
    color: rgb(81, 77, 77);
    list-style: none;
    text-decoration: none;
}
.nav ul li a{
    color: rgb(225, 211, 211);
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    
    padding-left: 93px;
    padding-top: 2px;

}
.ele1 h1{
    justify-content: center;
    padding: 34px;
    
}

.ele2{
  height:390px;
  width:445px;
  margin-left: 530px;
  margin-top: 95px;
  border:3px solid white;
  border-radius:18px;
}
.ele2 img{
    width:134px;
    height:145px;
    padding:24px 84px;
}
.nav1 ul{
        padding-top: 10px;
        color: rgb(81, 77, 77);
        list-style: none;
        text-decoration: none;
}
.nav1 ul li{
        color: rgb(81, 77, 77);
        list-style: none;
        text-decoration: none;
    }
.nav1 ul li a{
        color: rgb(225, 211, 211);
        font-size: 20px;
        list-style: none;
        text-decoration: none;
        
        padding-left: 93px;
        padding-top: 2px;
    
    }

.cod{
    
    font-size: 18px;
    color:white;
    padding-left: 44px;
    text-transform: uppercase; 
}
.cer{
    
    border:2px solid white;
    margin-top: 14px;
    margin-left: 84px;
    width:140px;
    height:32px;
   border-radius:12px;
    border:2px solid white;
    padding-top: 5px;
}
.cer  li a {
    width:3px;
    color:white;
    list-style: none;
    text-decoration: none;
    font-family: cursive;
   
}
#Contactme{
    height:45vw;
    width:80vw;
    margin-top: 130px;
    
}
#Contactme h2{
    color:white;
    margin-left:0px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(228, 208, 212);
    text-transform: uppercase;
}
.cn{
      width:400px;
      height:450px;
      border-radius:44px;
      border : 2px solid white;     
      background-color: rgb(18, 15, 15) ;
      margin-left: 45px;
      margin-top: 120px;
      margin-left:550px;
      justify-content: center;
}
.cn h1{
    color :white;
    font-size: 14px;
    margin-left: 34px;
    margin-top: 34px;
    width:23px;
}
form{
    margin: 30px 23px;
    background-color: rgb(18, 15, 15) ;
    
    
}
.btn{
    background-color: rgb(221, 15, 49);
    width:155px;
    height: 33px;
    margin-top: 17px;
    margin-left: 100px;
    border-radius: 14px;
    color: white;
    border-radius: 23px;
    border-color: white;
}
form input{
    width:60%;
    color:white;
    margin-top: 23px;
    border-radius: 34px;
    border-color: #fff;
    margin:13px 52px;
    padding: 14px;

}
.icon{
    margin:23px 62px;
    height:34px;
}
.icon ul{
    padding: 4px;
}
.icon ul li{
    list-style: none;
    text-decoration: none;
}
.icon ul li a{
    padding: 5px;
    margin-left: 23px;
    font-size: 25px;
    border-radius: 44px;
    background-color: black;
    color: white;
    list-style: none;
    text-decoration: none;
    border:solid 2px white;
}
.icon ul li a:hover{
    background-color: #fff;
    
}
.ri-close-fill{
    color:white;
}
.ri-close-fill{
    display: none;
}
